.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px !important;
    background-color: #1e1e1e;
    color: white;
    overflow: hidden;
}

.navbar button {
    background: none;
    border: none;
    color: #00adb5;
    cursor: pointer;
    font-size: 16px;
}

.navbar button:hover {
    background-color: #00656a;
}

.navbar-brand {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    padding-left: 2px;
}

.navbar-title {
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.chat-interface {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.chatbox {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* border: 1px solid #ccc; */
    overflow-y: auto;
    background-color: #000000;
    word-wrap: break-word;
}

.message {
    padding: 5px;
    margin: 5px 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.message.user {
    align-self: flex-end;
    background-color: #413f3f;
    color: #ffffff;
    border-radius: 10px;
    padding: 5px 10px;
    max-width: 100%;
}

.message.bot {
    align-self: flex-start;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 5px 10px;
    max-width: 100%;
}

.save-chat-button {
    background-color: #2b2d2b;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.save-chat-button:hover {
    background-color: #1b2424;
}

.textinput {
    display: flex;
    padding: 10px;
    background-color: #2d2d2d;
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
}

.textinput input {
    flex: 1;
    padding: 10px;
    border: 1px solid #333333;
    border-radius: 5px;
}

.textinput button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: #03969e;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #05c4ce;
}

/* For left threads panel*/
.main-content {
    display: flex;
    height: calc(100vh - 60px);
    background-color: #1e1e1e;
    overflow: hidden;
}

.conversation-list {
    width: 250px;
    padding: 10px;
    border-right: 1px solid #008d95;
    color: #fff;
    overflow-y: auto;
    flex-shrink: 0;
}

.conversation-list h2 {
    margin: 0 0 10px;
    color: #fff;
}

.conversation-list ul {
    list-style: none;
    padding: 0;
}

.conversation-list li {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.conversation-list li.active {
    background-color: #413f3f;
}

.new-conversation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #03969e;
    border: none;
}

.chat-container {
    flex-grow: 1;
    display: flex;
    overflow: scroll;
    flex-direction: column;
    height: 100%;
}

.conversation-list li:hover,
.new-conversation:hover {
    background-color: #05c4ce;
}

.delete-icon:hover {
    color: #d60d0d;
}

/* Welcome message */
.chatbox.empty-chatbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    background-color: #000000;
}

.help-gif {
    max-width: 300px;
    margin-bottom: 20px;
    filter: brightness(3.2);
}

.chatbox h2 {
    font-size: 24px;
    color: #ffffff;
}

/* Scrollbar settings for webkit based browsers*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.chatbox,
.conversation-list {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

@supports (-ms-overflow-style: none) {
    .chatbox,
    .conversation-list {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
